*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 15px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

.card{
    display: flex;
    width: 900px;
    max-width: 90%;
    border-radius: 10px;
}

.sedans,
.suvs,
.luxury{
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

img{
    max-width: 60px;
}

.card h1{
    text-transform: uppercase;
    font-family:'Big Shoulders Display', cursive; ;
    color: hsl(0, 0%, 95%);
    margin-top: 20px;
}

.card p,
.card button{
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 95%);
}

.card p{
    max-width: 200px;
    font-size: 0.85rem;
    margin-top: 20px;
    letter-spacing: 0.1rem;
    line-height: 1.25rem;
}

.card button{
    background-color: hsl(0, 0%, 95%);
    border: 2px solid white;
    max-width: 150px;
    padding: 15px;
    border-radius: 50px;
    margin-top: 100px;
}

.card button:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.sedans button{
    color: hsl(31, 77%, 52%);
}

.suvs button{
    color: hsl(184, 100%, 22%);
}

.luxury button{
    color: hsl(179, 100%, 13%);
}

@media (max-width: 658px){
    .container{
        height: 100%;
        margin-top: 100px ;
    }

    .card{
        flex-direction: column;
    }
    .sedans{
        background-color: hsl(31, 77%, 52%);
        border-radius: 10px 10px 0 0;
    }
    
    
    .luxury{
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 0 10px 10px;
    }
}